# Airflow Docker permissions
AIRFLOW_UID=50000

# Snowflake Connection (Replace dummy values with your actual credentials)
AIRFLOW_CONN_SNOWFLAKE_DEFAULT=snowflake://YOUR_LOGIN:YOUR_PASSWORD@/AIRLINE_DB/DWH?account=YOUR_ACCOUNT_IDENTIFIER&warehouse=COMPUTE_WH&role=ACCOUNTADMIN