# For PostgreSQL (Pagila)
POSTGRES_HOST=pagila
POSTGRES_PORT=5432
POSTGRES_DB=pagila
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password

# For Apache Spark
SPARK_MASTER_URL=spark://spark-master:7077