# .env for export_for_tableau.py

AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_REGION=us-east-1
LOCALSTACK_ENDPOINT=http://localhost:4566
S3_BUCKET_NAME=bike-data-2016-2020
OUTPUT_DIRECTORY=../data/tableau_data